{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Текст страницы "Технологии" после валидации формы и 
      создания нового поста автор должен быть перенаправлен 
      а страницу своего профайла  Дизайн должен соответствовать 
      шаблону posts/create_post.html.
      Архив с шаблонами приложен в конце задания
    </p>
  </article>
</div>
{% endblock %} 