{% extends "includes/card_body.html" %}
{% block title %}
  Изменение пароля
{% endblock %}
{% block card %}
  <div class="card-header">
    Изменить пароль
  </div>
  {% include 'includes/form_errors.html' %}
  <div class="card-body">
    <form method="post"
      {% if action_url %}
        action="{% url action_url %}"
      {% endif %}>
      {% include 'users/includes/auth_form.html' %}
      <div class="col-md-6 offset-md-4">
        <button type="submit" class="btn btn-primary">
          Изменить пароль
        </button>
      </div>
    </form>
  </div>
{% endblock %}
